<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body class="container">
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <!DOCTYPE html>

	<h1>Quiz Exam Page</h1>

	<form action="#" method="post">
		<!-- Question 1 -->
        hi,{{name}}
		<p><strong>Question 1:</strong> What is the capital of France?</p>
		<input type="radio" name="question1" value="Paris"> Paris<br>
		<input type="radio" name="question1" value="London"> London<br>
		<input type="radio" name="question1" value="Berlin"> Berlin<br>
		<input type="radio" name="question1" value="Rome"> Rome<br>
		
		<!-- Question 2 -->
		<p><strong>Question 2:</strong> Who is the author of "War and Peace"?</p>
		<input type="radio" name="question2" value="Leo Tolstoy"> Leo Tolstoy<br>
		<input type="radio" name="question2" value="Fyodor Dostoevsky"> Fyodor Dostoevsky<br>
		<input type="radio" name="question2" value="Anton Chekhov"> Anton Chekhov<br>
		<input type="radio" name="question2" value="Ivan Turgenev"> Ivan Turgenev<br>

		<!-- Question 3 -->
		<p><strong>Question 3:</strong> Who painted the "Mona Lisa"?</p>
		<input type="radio" name="question3" value="Leonardo da Vinci"> Leonardo da Vinci<br>
		<input type="radio" name="question3" value="Vincent van Gogh"> Vincent van Gogh<br>
		<input type="radio" name="question3" value="Pablo Picasso"> Pablo Picasso<br>
		<input type="radio" name="question3" value="Rembrandt"> Rembrandt<br>
		
		<!-- Submit button -->
		<input type="submit" value="Submit">
</form>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>